/* global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #555;
  font-family: "Arimo", sans-serif;
}

a {
  color: #007dba;
}

div > p:first-child {
  margin-top: 0;
}

.button {
  margin-left: .5em;
  padding: 0;
  border: none;
  background: none;
  opacity: .8;
  cursor: pointer;
  color: #555;
  line-height: 1;
}

.button_icon {
  font-size: 1em;
}

.button_text {
  font-size: .5em;
}

.animated {
  transition: opacity 1s, transform 1s;
}

.animated:not(.visible) {
  opacity: 0;
  transform: translate(0, 50%);
}

.animated.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.select {
  padding: .5em 1.5em .5em .5em;
  border: 1px solid #999;
  border-radius: 5px;
  color: #555;
  appearance: none;
  /* https://codepen.io/chriscoyier/pen/zYYZaGP */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%;
  background-size: .65em auto;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 2rem;
  color: #007dba;
}
  @media (min-width: 800px) {
    .header {
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      margin: 2rem 4rem;
    }
  }

.header p {
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .title::after {
    content: "";
    width: 80%;
    margin-left: 1em;
    margin-right: 1em;
    height: 1px;
    background-color: currentcolor;
    transform: translate(0, -50%);
  }
}

/* main */

main > * {
  margin: 2rem;
  max-width: 80ch;
}
  @media (min-width: 800px) {
    main > * {
      margin: 4rem;
    }
  }

/* start */

.prompt {
  color: #007dba;
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
}

.prompt_span > * {
  display: inline;
}

.prompt_span > br {
  display: none;
}

.stance_fieldset {
  width: max-content;
  border: 0;
}

/* log */

.listener {
  /* opacity: .5; */
}

.answer_input {
  resize: none;
  overflow: hidden;
  min-height: 1.5em;
  font-family: "Arimo", sans-serif;
  color: currentcolor;
  border: none;
  border-bottom: 1px solid currentcolor;
  outline: none;
}

.answer_input:focus {
  border-bottom: 1.5px solid #007dba;
}

.why {
  color: #007dba;
}

/* about */

.about {
  margin: 4rem;
  max-width: 80ch;
  line-height: 1.5;
}