/* global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #555;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
}

div > p:first-child {
  margin-top: 0;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin: 2rem 4rem;
  color: #71a9dd;
}

.header p {
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
}

.title::after {
  content: "";
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
  height: 1px;
  background-color: currentcolor;
  transform: translate(0, -50%);
}

/* start */

.start {
  margin: 4rem;
}

.prompt {
  color: #71a9dd;
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
}

/* journal */

.journal {
  margin: 4rem;
}

.answer_input {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  font-family: "Arimo", sans-serif;
  color: currentcolor;
}

.why {
  color: #71a9dd;
}

.animated {
  opacity: 0;
  transform: translate(0, 50%);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}